.header {
   background: #f55a5a;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 1.2rem 0;
}

.logo {
   margin-right: 1rem;
   font-size: 2rem;
   color: white;
}

.contain {
   margin: 1.5rem 14rem;
}

.section {
   display: flex;
   justify-content: center;
   align-items: center;
}

.section-image {
   padding: 0.1rem;
}

.section-image img {
   height: 180px;
   width: 155px;
   border-radius: 5px;
}

.section-contain {
   margin-left: 1.5rem;
   padding: 0.5rem 0;
}

.upper-contain {
   margin-bottom: 0.5rem;
}

.location {
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

.location-contain {
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

.location-icon {
   color: #f55a5a;
   margin-right: 0.5rem;
}

.location-link {
   color: #918e9b;
   margin-left: 2.5rem;
}

.title {
   margin: 0.7rem 0;
}

.title-name {
   font-size: 1.8em;
}

.lower-contain {
   width: 70%;
}

.date-details {
   margin: 0.5rem 0;
}

@media only screen and (max-width: 900px) {
   .contain {
      margin: 1.5rem 3rem;
   }

   .lower-contain {
      width: 100%;
   }
}

@media only screen and (max-width: 600px) {
   .contain {
      margin: 1rem 0.5rem;
   }

   .section {
      flex-direction: column;
   }

   .section-contain {
      margin-left: 0;
      padding: 0.5rem;
   }

   .section-image {
      padding: 0.5rem 0;
   }

   .section-image img {
      width: 100%;
      height: inherit;
   }

   .location-link {
      margin-left: 1.5rem;
   }

   .title-name {
      font-size: 1.5em;
   }
}
